<h1>Band</h1>

<ul>
	<form>
		<li>Concert 1</li>
	  	<input type="checkbox" name="attending" value="check"> attending 
		<li>Concert 2</li>
		<input type="checkbox" name="attending" value="check"> attending 
		<li>Concert 3</li>
		<input type="checkbox" name="attending" value="check"> attending
		<li>Concert 4</li>
		<input type="checkbox" name="attending" value="check"> attending
		<li>Concert 5</li>
		<input type="checkbox" name="attending" value="check"> attending
		<li>Concert 6</li>
		<input type="checkbox" name="attending" value="check"> attending
	</form>
</ul>

