<h1>Concert</h1>
<table style="width:100%">
  <tr>
    <th>Venue</th>
    <th>Address</th> 
    <th>Date</th>
  </tr>
  <tr>
    <td>Moody</td>
    <td>123 Something St</td>
    <td>July 4th</td>
  </tr>
</table>

<h3>Create Party</h3>
<h3>Create Ride</h3>