
<div id="main">
    <div class="container">
        <div class="form">
            <h1>Edit Your Account</h1>
            <form method="post">
                <input type="text" name="username" placeholder="Username" class="form-control" required>
                <br />
                <input type="email" name="email" placeholder="Email Address" class="form-control" required>
                <br>
                <textarea name="biography" placeholder="Biography" class="form-control"></textarea>
                <br>
                <input type="file" name="photourl" class="form-control" required>
                <br />
                <input type="password" name="password" placeholder="Current Password" class="form-control">
                <br />
                <input type="password" name="password" placeholder="New Password" class="form-control">
                <br />
                <input type="password" name="password" placeholder="Confirm New Password" class="form-control">
                <br />
                <input type="submit" value="Save" id="submitButton" class="btn btn-primary">
            </form>
            <form class="pull-right" action="" method="POST">
                <input type="hidden" name="_method" value="DELETE" />
                <input id="delete-account" class="btn btn-danger" type="submit" value="Delete Account">
            </form>            
    	</div>
    </div>
</div>