<div class="container-fluid">
	<div class="row">
	  <div class="col-md-4"><a href="/bands/1"><img src="images/note-eater.png" class="img-responsive img-circle" alt="Widespread Panic Logo"></a></div>
	  <div class="col-md-4"><a href="/bands/2"><img src="images/sci-hoop.jpg" class="img-responsive img-circle" alt="String Cheese Incident Logo"></a></div>
	  <div class="col-md-4"><a href="/bands/3"><img src="images/phishbow.jpg" class="img-responsive img-circle" alt="Phish Logo"></a></div>
	</div>
</div>