
<ul>
	<li><a href="/edit-account">Edit Account</a></li>
	<li><a href="/">home</a></li>
	<li><a href="/login">Log In</a></li>
	<li><a href="/register">Register</a></li>
	<li><a href="/profile">Profile</a></li>
	<li><a href="/band">Band</a></li>
</ul>
