/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #main {
 	background-color: #E17811; 
 }
#main-nav {
    height:  170px;
    background-color: #0D646A;
    border: none;
    margin-bottom: 0px;
}

#logo img {
    width: 155px;
}

#main-nav .nav {
    padding-top: 120px;
}

.navbar a:visited,
.navbar a:active {
    color: #000;
}

.navbar-default .navbar-nav > .active > a {
    background-color: #ffd27f;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:active,
.navbar-default .navbar-nav > .active > a:visited {
    background-color: orange;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>li>a:visited {
    color: #000;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #ff0080;
}

#dropmenu:hover,
#dropmenu:focus,
#dropmenu:active {
    background-color: orange;
}

#anotherdrop:hover,
#anotherdrop:focus,
#anotherdrop:active {
    background-color: orange;
}

.navButton {
    font-size: 25px;
    color: #000;
}

.form {
    width: 300px;
    height: 500px;
    margin: 0 auto;
}

#site-footer {
    margin-top: 0px;
    min-height: 150px;
    font-size: 17px;
    color: #ffebc0;
    padding-top: 40px;
    background: #0D646A;
}

.im-centered {
    margin-left: 10%;
}

.fa {
        font-size: 40px;
 }

a {
   color: #f48042 ;
   text-decoration: none;
}

a:focus, a:hover {
   color: white;
}

.fa-facebook {
    margin-right: 15px;
}

.fa-twitter {
    margin-right: 15px;
}

.fa-paypal {
    margin-right: 15px;

}

.home-posts {
    background-color: #fcf0d6;
    margin-bottom: 5px;
    border: 2px solid #333333;
}

#postBodyForm {
    margin: 10px 0 10px 0;
}

#profileBio {
    margin-top: 10px;
}

#edit-profile-btn {
    margin-bottom: 10px;
}

#follow-btn {
    background-color: #DC5383;
    border-color: none;
    color: #ffffff;
}

#follow-btn:hover {
    background-color: #ba466f;
    border-color: #84314e;    
}

#delete-account {
    position: relative;
    top: -38px;
    font-size: 16px;
}

#bottomstrip {
    width: 100%;
    height: 40px;
    background-color: #17383A ;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

.btn-primary {
    background-color: #e50073;
    background-color: #DC5383;
    border-color: #84314e;
    font-size: 20px;
}

.btn-primary:hover {
    background-color: #cc0066;
    background-color: #ba466f;
    border-color: #84314e;
}

#main {
    padding-top: 40px;
    min-height: 380px;
}